@import url(fonts/Rubik/rubik-font.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    transition: all linear .1s;
    font-family: 'Rubik';
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    color: #333;
    text-decoration: none;
}

a:focus-within,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: 0;
    border: none;
}



/* CTA Button */
.cta-btn {
    padding: 10px 15px;
    background-color: #2e58ba;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #2e58ba;
}

.cta-btn.large {
    font-size: 20px;
    padding: 10px 20px 10px 10px;
    margin-top: 20px;
    transition: all ease-out .3s;
    border: 3px solid #2e58ba;
}

.cta-btn.large i {
    transition: all ease-out .3s;
}

.cta-btn.large:hover i {
    transform: translateX(125px);
    transition: all ease-out .3s;
}

.cta-btn.large:hover span {
    transition: all ease-out .3s;
    transform: translateX(-35px);
}

.cta-btn span {
    margin: 0 5px;
    display: inline-block;
    transition: all ease-out .3s;
}

.cta-btn:hover {
    color: #2e58ba;
    background-color: #fff;
}

i.circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #2e58ba;
    border-radius: 50%;
}

.sec {
    padding: 50px 0;
}



/* Header */
header {
    padding: 20px 0;
    box-shadow: 0 8px 40px 0 #ccc;
    position: relative;
}

header .logo-img {
    width: 120px;
}

header .nav-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    position: relative;
}

header ul li a.active::after {
    content: "";
    width: 15px;
    height: 5px;
    background-color: #2e58ba;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}
ul.login-submenu {
    position: absolute;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 10px 1px #aaa;
    text-align: center;
    padding: 10px 0;
    top: 140%;
    border-radius: 6px;
    display: none;
    color: #333;
}
ul.login-submenu li a{
    color: #333;
    margin: 5px auto;
    font-size: 14px;
}
li.login-btn {
    position: relative;
    user-select: none;
    width: fit-content;
    margin: auto;
}
#login-list:checked~ul.login-submenu{
    display: block;
}



/* Hero Section */
.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #da0032;
}

.hero-text h1>span {
    color: #2e58ba;
}

.hero-text ul {
    margin: 20px 0;
}

.hero-text ul li {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-text ul li::before {
    content: "-";
    margin-right: 5px;
}







/* For Employers & For Employee*/
.employee {
    background-color: #edf5f8;
}

.employer,
.employee {
    text-align: center;
}

.employer h2,
.employee h2 {
    font-size: 50px;
    color: #333;
}

.serv-card {
    margin: 20px 0;
}

.service-cards {
    margin: 50px 0;
}

.serv-card .serv-icon {
    background-color: #fff;
    box-shadow: 0 0 10px 5px #aaa;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serv-card .serv-icon img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.serv-card .serv-text {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    line-height: 1.3;
    max-width: 120px;
    margin: auto;
    margin-top: 20px;
}




/* Blog Section */
.blog-sec {
    padding: 100px 0;
}

.blog-text p {
    font-size: 14px;
    margin-top: 20px;
    max-width: 500px;
    line-height: 1.8;
}

.blog-text>span {
    font-size: 18px;
    font-weight: 500;
}

.blog-text h1 {
    font-size: 40px;
    font-weight: 700;
}




/* Footer */
footer {
    padding: 50px 0;
    box-shadow: 0 -5px 5px 0 #ddd;
}

.footer-logo {
    max-width: 250px;
    margin-bottom: 50px;
}

footer .con {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.con-icon {
    min-width: 40px;
}

.con span.head {
    font-weight: 600;
    font-size: 20px;
    color: #333;
    display: block;
}

.con span.val {
    font-size: 16px;
}

.quick-links h3 {
    font-weight: 500;
}

.quick-links ul li::before {
    content: "-";
    margin-right: 10px;
}

.lwr-footer {
    padding: 20px 0;
    text-align: center;
    background-color: #2e58ba;
    color: #fff;
    font: 14px;
}








/* ========================================= Services Page ============================ */
.page-header {
    padding: 20px 0;
    text-align: center;
    background-color: #eee;
    color: #00000020;
}

.page-header h1 {
    font-size: 100px;
    font-weight: 800;
}

section.services div>p {
    font-size: 14px;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

section.services {
    padding: 50px 0;
}

.employers-serv {
    margin-bottom: 100px;
}

section.services h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #333;
}

.serv-page-text h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.serv-page-text p {
    font-size: 14px;
    text-align: center;
}

.services-page-cards {
    margin: 50px 0;
}

.serv-page-icon img {
    height: 100%;
    width: auto;
    margin: auto;
    display: block;
}

.serv-page-icon {
    height: 120px;
    margin: auto;
}

.serv-page-card {
    margin: 50px 0;
}







/* ========================================= About Page ============================ */
.about-sec {
    padding: 50px 0;
}

.com-logo {
    max-width: 300px;
    margin-bottom: 50px;
}

.com-about h2 {
    font-size: 50px;
    font-weight: 700;
}












/* ========================================= Contact Page ============================ */
#contact {
    width: 100%;
    height: 100%;
    padding: 100px 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    border-radius: 0;
    border: 1px solid #aaa;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background-color: #2e58ba;
}

.send-button:hover {
    background-color: #2e58ba;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #2e58ba;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
    background-color: #2e58ba;
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #333;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #333;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #333;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}






/* ================================= LOGIN PAGE =========================================== */
.login-sec {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-items: center;

}

.login-sec h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
}

.login-sec label {
    font-size: 12.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
}

.login-sec form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 400px;
}

.login-sec form h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.login-sec form h4 span {
    color: black;
    font-weight: 700;
}

.login-sec form p {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
}

.login-sec a.discrete {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 40px;
}

.login-sec a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.login-sec button {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #2e58ba;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}

.login-sec button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

.login-sec button:hover:active {
    transform: scale(0.99);
}

.login-sec input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
}

.login-sec input:focus {
    border-bottom: solid 1px #2e58ba;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.floating-label label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    padding-left: 44px;
}

.floating-label input {
    width: calc(100% - 44px);
    margin-left: auto;
    display: flex;
}

.floating-label .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 44px;
    display: flex;
}

.floating-label .icon svg {
    height: 30px;
    width: 30px;
    margin: auto;
    opacity: 0.15;
    transition: all 0.3s ease;
}

.floating-label .icon svg path {
    transition: all 0.3s ease;
}

.floating-label input:not(:-moz-placeholder-shown) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:-ms-input-placeholder) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:-moz-placeholder-shown)+label {
    transform: translateY(-10px);
    opacity: 0.7;
}

.floating-label input:not(:-ms-input-placeholder)+label {
    transform: translateY(-10px);
    opacity: 0.7;
}

.floating-label input:not(:placeholder-shown)+label {
    transform: translateY(-10px);
    opacity: 0.7;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.icon svg path {
    fill: #2e58ba;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.icon svg path {
    fill: #2e58ba;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg path {
    fill: #2e58ba;
}

.floating-label input:not(:valid):not(:focus)+label+.icon {
    -webkit-animation-name: shake-shake;
    animation-name: shake-shake;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes shake-shake {
    0% {
        transform: translateX(-3px);
    }

    20% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes shake-shake {
    0% {
        transform: translateX(-3px);
    }

    20% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0px);
    }
}

.session {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: auto auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.12);
}

.left {
    width: 220px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
    background-size: cover;
    background-position: right;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.left svg {
    height: 40px;
    width: auto;
    margin: 20px;
}

@media only screen and (max-width: 767px) {
    .left {
        display: none;
    }

    .login-sec form {
        width: 300px;
    }
}









/* Sign In Options */
.sign-up-opt {
    padding: 100px 0;
}

.opt-box {
    display: flex;
    align-items: center;
    width: 700px;
    margin: auto;
}

.opt-box>div {
    padding: 50px;
    text-align: center;
    min-height: 450px;
    width: 350px;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opt-box>div span {
    font-weight: 700;
    font-size: 50px;
}

.opt-box>div span.thin {
    font-weight: 500;
    font-size: 30px;
    display: block;
}

.opt-box h1,
.opt-box button {
    position: relative;
    z-index: 2;
}

.hire-employee {
    background: url(https://images.unsplash.com/photo-1589939705384-5185137a7f0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.find-job {
    background: url(https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.hire-employee .bg-overlay {
    background-color: #2e58ba;
}

.find-job .bg-overlay {
    background-color: #da0032;
}

.opt-box .bg-overlay {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

button.sign-btn {
    padding: 10px 50px;
    margin-top: 50px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

button.sign-btn:hover {
    background: #fff;
    color: #2e58ba;
}

.find-job button.sign-btn:hover {
    background: #fff;
    color: #da0032;
}






/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {

        margin: 0 auto;
    }


    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}












/* Media Queries */
@media only screen and (max-width: 991px) {

    .cta-btn.large {
        font-size: 16px;
        padding: 8px 16px 8px 8px;
    }

    i.circle {
        width: 30px;
        height: 30px;
    }

    .cta-btn.large:hover i {
        transform: translateX(105px);
    }

    .cta-btn.large:hover span {
        transform: translateX(-26px);
    }


    header nav ul {
        gap: 1.5rem;
    }

    header nav ul li a {
        font-size: 14px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text ul li {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .employer h2,
    .employee h2 {
        font-size: 40px;
    }

    .blog-img {
        max-width: 500px;
        margin-bottom: 20px;
    }
}









@media only screen and (max-width: 767px) {
    .hero-text {
        text-align: center;
        margin: 20px 0;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .footer-logo {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-det {
        margin: 50px 0;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav #nav-check:checked~.nav-btn>label span:first-child {
        display: block;
        transform: rotate(45deg);
    }

    .nav #nav-check:checked~.nav-btn>label span:last-child {
        display: block;
        transform: rotate(-45deg);
    }

    .nav #nav-check:checked~.nav-btn>label span {
        display: none;
        transform-origin: 8.6px 2.1px;
        transition: all linear .2s;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 3px solid #aaa;
        transition: all linear .2s;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 141px;
        left: 0px;
        z-index: 999;

    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    header ul li a:hover {
        color: #fff;
    }

    header ul li a {
        font-size: 20px;
        color: #fff;
        width: fit-content;
        display: block;
        margin: 25px auto;
    }

    .page-header h1 {
        font-size: 40px;
        font-weight: 800;
    }

    section.services h1 {
        font-size: 40px;
    }
    .opt-box{
        flex-direction: column;
        width: 100%;
    }
    .opt-box>div{
        width: 100%;
    }
}